---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import TagCloud from "@components/TagCloud.astro";
---

<Layout title="Tags" description="List of tags used.">
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold">All Tags</h1>
      <TagCloud />
    </div>
  </Container>
</Layout>
