<div class="giscus"></div>

<script
  src="https://giscus.app/client.js"
  data-repo="unstuck-in-time/unstuck-in-time.github.io"
  data-repo-id="R_kgDOOjrTKg"
  data-category="General"
  data-category-id="DIC_kwDOOjrTKs4CpvEL"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
