---
import type { Heading } from "./TableOfContents.astro";
import Link from "./Link.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="list-outside list-disc px-3 py-1.5 text-sm">
  <div class="truncate">
    <Link href={"#" + heading.slug} underline>
      {heading.text}
    </Link>
  </div>

  {
    heading.subheadings.length > 0 && (
      <ul class="translate-x-3 pt-1.5">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
